/*reset*/

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

body {
    background: #f2f2f2;
    color: #444;
    font: 12px"微软雅黑", "Arial Narrow", HELVETICA;
}

td,
th,
caption {
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

a {
    color: #555;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border: none;
}

ol,
ul,
li {
    list-style: none;
}

input,
textarea,
select,
button {
    font: 14px Verdana, Helvetica, Arial, sans-serif;
}

table {
    border-collapse: collapse;
}

html {
    overflow-y: scroll;
}


/*icon*/

.customSelect .caret {
    background-image: url(images/icon.png);
    background-repeat: no-repeat;
}


/*selectbox*/

select.J-select {
    position: absolute;
    left: -999em;
}

.customSelect {
    position: relative;
    float: left;
}

.customSelect .selectedValue {
    height: 30px;
    line-height: 30px;
    text-align: right;
    padding: 0px 20px 0 0;
    border-radius: 2px;
    margin-bottom: 0;
    color: #bababa;
    background-color: #fff;
    cursor: pointer;
}

.customSelect .selectList {
    z-index: 100;
    position: absolute;
    left: -999em;
    top: -999em;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.customSelect.select-open .selectList {
    left: 0!important;
    top: auto!important;
}

.customSelect .selectList dl {
    background: #fff;
}

.customSelect .selectList dl.defaultScrollbar {
    overflow-x: hidden;
    overflow-y: scroll;
}

.customSelect dl,
.customSelect dd {
    margin: 0;
}

.customSelect dd {
    zoom: 1;
    cursor: pointer;
}

.customSelect .selected {
    color: #fff;
    text-decoration: none;
    background-color: #3da9da;
}

.customSelect dd.hovered {
    background: #3da9da;
    color: #fff;
}

.customSelect dt {
    font-weight: bold;
    font-style: italic;
    padding: 5px 10px 5px 6px;
}

.customSelect dd {
    padding: 5px 10px 2px 8px;
}

.customSelect .caret {
    width: 9px;
    height: 5px;
    cursor: pointer;
    display: block;
    background-position: 0 0;
    position: absolute;
    top: 14px;
    right: 5px;
    z-index: 150;
}


/*tab*/

.tab .tab_head {
    overflow: hidden;
}

.tab .tab_head li {
    float: left;
}

.tab_content>div {
    display: none;
}


/* css common */

.r-3x {
    border-radius: 3px;
}

.underline {
    text-decoration: underline;
}

.underline-n:hover,
.underline-n a:hover {
    text-decoration: none;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}


/*color*/

.bg-white {
    background: #fff;
}

.bg-blue-dark {
    background: #3da9da;
}

.bg-blue {
    background: #5c7cfe;
}

.bg-orange {
    background: #fc9917;
}

.text-blue-dark {
    color: #3da9da;
}

.text-orange {
    color: #fc9917;
}

.bg-img-orange {
    background: url(images/bg-img-orange.jpg) no-repeat top center;
}

.bg-img-blue {
    background-image: url(images/bg-img-blue.jpg)no-repeat top center;
}

.bg-img-purple {
    background-image: url(images/bg-img-purple.jpg)no-repeat top center;
}


/*margin*/

.m-l-sm {
    margin-left: 10px;
}

.m-l-md {
    margin-left: 15px;
}

.m-l-lg {
    margin-left: 25px;
}

.m-r-sm {
    margin-right: 10px;
}

.m-r-md {
    margin-right: 15px;
}

.m-r-lg {
    margin-right: 25px;
}

.m-b-sm {
    margin-bottom: 10px;
}

.m-b-md {
    margin-bottom: 15px;
}

.m-b-lg {
    margin-bottom: 25px;
}

.m-t-lmd {
    margin-top: 20px;
}


/*width*/

.w-650 {
    width: 650px;
}

.w-half {
    width: 50%;
}


/*position*/

.inline {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.contentwrap {
    width: 1100px;
    margin: 0 auto;
}


/*header*/

.site-nav,
.site-nav {
    height: 40px;
    line-height: 40px;
    color: #8f8f8f;
    background: #333;
}

.site-nav a {
    color: #8f8f8f;
}

.top_bar a {
    margin-left: 25px;
}

.main-nav {
    margin-bottom: 8px;
}

.main-nav .logo {
    padding-top: 20px;
}

.nav {
    padding-top: 20px;
    height: 46px;
    line-height: 46px;
    margin-left: 250px;
    text-align: right;
}

.nav li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.nav li a {
    font-size: 16px;
    font-weight: 700;
    color: #333;
    margin-left: 50px;
}

.category-bar .category-bar-inner {
    padding: 0 22px;
    height: 44px;
}

.category-head {
    line-height: 44px;
    color: #fff;
    font-size: 14px;
}

.category-head a {
    color: #fff;
}

.category-head .icon-celan {
    font-size: 16px;
}

.category-right {
    margin-left: 200px;
}

.searchbox {
    width: 430px;
    height: 30px;
    margin-top: 7px;
    padding-right: 1px;
    background: #fff;
}

.searchbox input {
    width: 250px;
    height: 20px;
    padding-left: 10px;
    border: 0;
    border-left: 1px solid #d2d2d2;
    vertical-align: top;
    margin-top: 5px;
    outline: none;
    color: #444;
}

.searchbox .search-btn {
    width: 80px;
    height: 28px;
    margin-top: 1px;
    font-size: 14px;
    color: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
}

.pull-news {
    margin-left: 10px;
    vertical-align: top;
    line-height: 44px;
}

.pull-news a {
    margin-right: 5px;
    color: #fff;
}


/*fs*/

.fs {
    margin-top: 10px;
}

.category-menu {
    width: 190px;
    height: 480px;
}

.category-menu ul {
    padding: 15px 0 0;
}

.category-menu ul>li {
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
}

.category-menu ul>li a {
    font-size: 14px;
    color: #fff;
}

.fs-center {
    width: 650px;
}

.fs-center img {
    float: left;
}

.fs-right {
    width: 240px;
    height: 480px;
}

.publish-btn {
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
}

.publish-btn a {
    display: block;
    font-size: 14px;
    color: #fff;
}

.fs-right-bottom {
    height: 430px;
    background: #fff;
}

.login-panel {
    height: 129px;
    border-bottom: 1px solid #e5e5e5;
}

.login-panel .icon-yonghu {
    font-size: 50px;
}

.login-panel .login-info {
    padding-left: 45px;
    padding-top: 19px;
}

.login-panel .login-info p {
    margin-top: 5px;
    margin-left: 60px;
}

.userIcon {
    width: 49px;
    height: 49px;
    background: url(images/user.png) no-repeat;
}

.login-group {
    text-align: center;
}

.login-group a {
    width: 74px;
    height: 28px;
    line-height: 28px;
    margin: 0 8px;
    color: #fff;
}

.panel-news {
    padding: 19px 19px 5px 19px;
    border-bottom: 1px solid #e5e5e5;
}

.panel-news .head {
    font-size: 14px;
}

.panel-news .icon-dian2 {
    font-size: 16px;
    line-height: 24px;
    vertical-align: -2px;
    color: #aaa;
}

.panel-news li {
    line-height: 24px;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.panel-news a {
    color: #565656;
}

.help-icon {
    text-align: center;
}

.help-icon>div {
    margin: 10px 20px 0;
}

.help-icon .iconfont {
    font-size: 24px;
}


/*floor*/

.floor-box {
    height: 414px;
}

.floor-box .left {
    width: 190px;
    height: 414px;
    position: relative;
}

.floor-box .right {
    width: 910px;
    height: 414px;
    background: #fff;
}

.floor-box .floor-title {
    font-size: 28px;
    color: #fff;
    margin-top: 32px;
    margin-left: 23px;
}

.floor-box .white-line {
    width: 145px;
    height: 1px;
    background: #fff;
    margin: 50px auto;
}

.floor-left-nav {
    width: 165px;
    margin: 0 auto;
}

.floor-left-nav a {
    float: left;
    width: 80px;
    height: 28px;
    line-height: 28px;
    color: #fff;
    text-align: center;
}

.floor-left-nav a:hover {
    text-decoration: none;
}

.floor-left-nav a:first-child {
    margin-right: 5px;
}

.floor-left-nav>p {
    height: 28px;
}

.floor-left-nav p:first-child {
    margin-bottom: 5px;
}

.floor-icon {
    width: 190px;
    position: absolute;
    left: auto;
    right: auto;
    bottom: 35px;
    text-align: center;
}

.floor-box .right .right-inner {
    padding: 18px 28px 0 18px;
}

.floor-box .right .tab_head li {
    width: 130px;
    height: 28px;
    line-height: 28px;
    margin-right: 10px;
    text-align: center;
    color: #989898;
    background: #f2f2f2;
    cursor: pointer;
}


/*floor color*/

.floor-orange .floor-left-nav {
    background: #fad159;
}

.floor-orange .floor-left-nav a {
    background: #fcaf0e;
}

.floor-orange .right .tab_head li.tab_selected {
    color: #fff;
    background: #ffb956;
}
