/*reset*/

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

body {
    background: #f2f2f2;
    color: #444;
    font-size: 12px;
    font-family: "微软雅黑", "Arial Narrow", HELVETICA;
}

td,
th,
caption {
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

a {
    color: #555;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border: none;
}

ol,
ul,
li {
    list-style: none;
}

input,
textarea,
select,
button {
    font: 14px Verdana, Helvetica, Arial, sans-serif;
}

table {
    border-collapse: collapse;
}

html {
    overflow-y: scroll;
}


/*share icon*/

.sharebox {
    width: 200px;
    height: 27px;
    line-height: 27px;
    padding-bottom: 20px;
}

.bshare-custom {
    line-height: 27px;
    white-space: nowrap;
}

.bshare-custom a {
    width: 24px;
    height: 27px !important;
    line-height: 24px;
    white-space: nowrap;
    padding: 0;
    background-image: url(images/mybutton.png);
    background-repeat: no-repeat;
    overflow: hidden;
}

.bshare-custom .qqmb {
    background-position: 0px 0;
}

.bshare-custom .qzone {
    background-position: -29px 0;
}

.bshare-custom .qqim {
    background-position: -58px 0;
}

.bshare-custom .sinaminiblog {
    background-position: -87px 0;
}

.bshare-custom .bshare-more {
    background-position: -116px 0;
}


/*selectbox*/

.customSelect .caret {
    background-image: url(images/icon.png);
    background-repeat: no-repeat;
}

select.J-select {
    position: absolute;
    left: -999em;
}

.customSelect {
    position: relative;
    float: left;
}

.customSelect .selectedValue {
    height: 30px;
    line-height: 30px;
    text-align: right;
    padding: 0px 20px 0 0;
    border-radius: 2px;
    margin-bottom: 0;
    color: #bababa;
    background-color: #fff;
    cursor: pointer;
}

.customSelect .selectList {
    z-index: 100;
    position: absolute;
    left: -999em;
    top: -999em;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.customSelect.select-open .selectList {
    left: 0!important;
    top: auto!important;
}

.customSelect .selectList dl {
    background: #fff;
}

.customSelect .selectList dl.defaultScrollbar {
    overflow-x: hidden;
    overflow-y: scroll;
}

.customSelect dl,
.customSelect dd {
    margin: 0;
}

.customSelect dd {
    zoom: 1;
    cursor: pointer;
}

.customSelect .selected {
    color: #fff;
    text-decoration: none;
    background-color: #3da9da;
}

.customSelect dd.hovered {
    background: #3da9da;
    color: #fff;
}

.customSelect dt {
    font-weight: bold;
    font-style: italic;
    padding: 5px 10px 5px 6px;
}

.customSelect dd {
    padding: 5px 10px 2px 8px;
}

.customSelect .caret {
    width: 9px;
    height: 5px;
    cursor: pointer;
    display: block;
    background-position: 0 0;
    position: absolute;
    top: 14px;
    right: 5px;
    z-index: 150;
}


/*tab*/

.tab .tab_head {
    overflow: hidden;
}

.tab .tab_head li {
    float: left;
}

.tab_content>div {
    display: none;
}


/* css common */

.r-3x {
    border-radius: 3px;
}

.underline {
    text-decoration: underline;
}

.underline-n:hover,
.underline-n a:hover {
    text-decoration: none;
}

.clear {
    clear: both;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

.overflow-hidden {
    overflow: hidden;
}

.hide {
    display: none;
}

.hr-line {
    border-bottom: 1px solid #dbdbdb;
}

.rbox {
    position: relative;
}


/*text-align*/

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}


/*font*/

.f24 {
    font-size: 24px;
}


/*color*/

.bg-white {
    background: #fff;
}

.bg-blue-dark {
    background: #3da9da;
}

.bg-blue {
    background: #5c7cfe;
}

.bg-orange {
    background: #fc9917;
}

.text-blue-dark {
    color: #3da9da!important;
}

.text-orange {
    color: #fc9917 !important;
}

.bg-img-orange {
    background: url(images/bg-img-orange.jpg) no-repeat top center;
}

.bg-img-blue {
    background: url(images/bg-img-blue.jpg)no-repeat top center;
}

.bg-img-red {
    background: url(images/bg-img-red.jpg)no-repeat top center;
}

.bg-img-purple {
    background: url(images/bg-img-purple.jpg)no-repeat top center;
}


/*margin*/

.m-l-sm {
    margin-left: 10px;
}

.m-l-md {
    margin-left: 15px;
}

.m-l-lg {
    margin-left: 25px;
}

.m-r-sm {
    margin-right: 10px;
}

.m-r-md {
    margin-right: 15px;
}

.m-r-lg {
    margin-right: 25px;
}

.m-b-sm {
    margin-bottom: 10px;
}

.m-b-md {
    margin-bottom: 15px;
}

.m-b-lg {
    margin-bottom: 25px;
}

.m-t-lmd {
    margin-top: 20px;
}

.m-t-llg {
    margin-top: 30px;
}


/*padding*/

.p10 {
    padding: 10px;
}

.p30 {
    padding: 30px;
}

.p-l-2em {
    padding-left: 2em;
}

.p-l-_5em {
    padding-left: 0.5em;
}


/*width*/

.w-650 {
    width: 650px;
}

.w-half {
    width: 50%;
}

.one-third {
    width: 33%;
}


/*pagination*/

.pagination {}

.pagination a {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 0 10px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    margin-right: 10px;
    background: #fff;
    border: 1px solid #ddd;
    color: #333;
}

.pagination a:hover {
    text-decoration: none;
}

.pagination .curruntPage,
.pagination a:hover {
    background: #48bffb;
    border-color: #48bffb;
    color: #fff;
}

.pagination .nextPage {
    width: auto;
}


/*position*/

.inline {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.contentwrap {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}


/*header*/

.site-nav,
.site-nav {
    height: 40px;
    line-height: 40px;
    color: #8f8f8f;
    background: #333;
}

.site-nav a {
    color: #8f8f8f;
}

.top_bar a {
    margin-left: 25px;
}

.main-nav {
    margin-bottom: 8px;
}

.main-nav .logo {
    padding-top: 20px;
}

.nav {
    padding-top: 20px;
    height: 46px;
    line-height: 46px;
    margin-left: 250px;
    text-align: right;
}

.nav li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.nav li a {
    font-size: 16px;
    font-weight: 700;
    color: #333;
    margin-left: 50px;
}

.category-bar .category-bar-inner {
    padding: 0 22px;
    height: 44px;
}

.category-head {
    line-height: 44px;
    color: #fff;
    font-size: 14px;
}

.category-head a {
    color: #fff;
}

.category-head .icon-celan {
    font-size: 16px;
}

.category-right {
    margin-left: 200px;
}

#J-category-menu {
    position: absolute;
    left: 0;
    top: 44px;
    z-index: 999;
}

.searchbox {
    width: 430px;
    height: 30px;
    margin-top: 7px;
    padding-right: 1px;
    background: #fff;
}

.searchbox input {
    width: 250px;
    height: 20px;
    padding-left: 10px;
    border: 0;
    border-left: 1px solid #d2d2d2;
    vertical-align: top;
    margin-top: 5px;
    outline: none;
    color: #444;
}

.searchbox .search-btn {
    width: 80px;
    height: 28px;
    margin-top: 1px;
    font-size: 14px;
    color: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
}

.pull-news {
    margin-left: 20px;
    vertical-align: top;
    line-height: 44px;
}

.pull-news a {
    margin-right: 5px;
    color: #fff;
}


/*fs*/

.fs {
    margin-top: 10px;
}

.category-menu {
    width: 190px;
    height: 480px;
}

.category-menu>ul {
    padding: 15px 0 0;
}

.category-menu>ul>li {
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

.category-menu>ul>li>a {
    display: block;
    padding-left: 20px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

.category-menu>ul>li>a:hover {
    color: #333;
    background: #fff;
}


/*sub-menu-box*/

.sub-menu-box {
    display: none;
    position: absolute;
    left: 190px;
    top: 0;
    width: 620px;
    padding: 20px;
    height: 441px;
    background: #fff;
}

.fs-center {
    width: 650px;
}

.fs-center img {
    float: left;
}

.fs-right {
    width: 240px;
    height: 480px;
}

.publish-btn {
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
}

.publish-btn a {
    display: block;
    font-size: 14px;
    color: #fff;
}

.fs-right-bottom {
    height: 430px;
    background: #fff;
}

.login-panel {
    height: 129px;
    border-bottom: 1px solid #e5e5e5;
}

.login-panel .icon-yonghu {
    font-size: 50px;
}

.login-panel .login-info {
    padding-left: 45px;
    padding-top: 19px;
}

.login-panel .login-info p {
    margin-top: 5px;
    margin-left: 60px;
}

.userIcon {
    width: 49px;
    height: 49px;
    background: url(images/user.png) no-repeat;
}

.login-group {
    text-align: center;
}

.login-group a {
    width: 74px;
    height: 28px;
    line-height: 28px;
    margin: 0 8px;
    color: #fff;
}

.panel-news {
    padding: 19px 19px 5px 19px;
    border-bottom: 1px solid #e5e5e5;
}

.panel-news .head {
    font-size: 14px;
}

.panel-news .icon-dian2 {
    font-size: 16px;
    line-height: 24px;
    vertical-align: -2px;
    color: #aaa;
}

.panel-news li {
    line-height: 24px;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.panel-news a {
    color: #565656;
}

.help-icon {
    text-align: center;
}

.help-icon>div {
    margin: 10px 20px 0;
}

.help-icon .iconfont {
    font-size: 24px;
}


/*floor*/

.floor-box {
    height: 414px;
}

.floor-box .left {
    width: 190px;
    height: 414px;
    position: relative;
}

.floor-box .right {
    width: 910px;
    height: 414px;
    background: #fff;
}

.floor-box .floor-title {
    font-size: 28px;
    color: #fff;
    margin-top: 32px;
    margin-left: 23px;
}

.floor-box .white-line {
    width: 145px;
    height: 1px;
    background: #fff;
    margin: 50px auto;
}

.floor-left-nav {
    width: 165px;
    margin: 0 auto;
}

.floor-left-nav a {
    float: left;
    width: 80px;
    height: 28px;
    line-height: 28px;
    color: #fff;
    text-align: center;
}

.floor-left-nav a:hover {
    text-decoration: none;
}

.floor-left-nav a:first-child {
    margin-right: 5px;
}

.floor-left-nav>p {
    height: 28px;
}

.floor-left-nav p:first-child {
    margin-bottom: 5px;
}

.floor-icon {
    width: 190px;
    position: absolute;
    left: auto;
    right: auto;
    bottom: 35px;
    text-align: center;
}

.floor-box .right .right-inner {
    padding: 18px 15px 0 15px;
}

.floor-box .right .tab_head li {
    width: 130px;
    height: 36px;
    line-height: 36px;
    margin-right: 10px;
    text-align: center;
    font-size: 16px;
    color: #989898;
    background: #f2f2f2;
    cursor: pointer;
}


/*news-list*/

.news-list {
    font-size: 0;
    padding-right: 20px;
}

.news-list li {
    font-size: 12px;
    height: 32px;
    line-height: 32px;
}

.news-list li * {
    vertical-align: top;
}

.news-list .icon-dian2 {
    color: #aaa;
}

.news-list li>a {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 240px;
    margin-right: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    color: #565656;
}

.w-half .news-list li>a {
    width: 240px;
}

.news-list li .date {
    color: #959595;
}


/*img-card*/

.img-card {
    margin-right: -20px;
}

.img-card li,
.lesson-list li {
    float: left;
    width: 210px;
    margin-right: 13px;
}

.img-card img,
.lesson-list img {
    float: left;
    width: 100%;
    height: 130px;
}

.img-card .card-info,
.lesson-list .card-info {
    clear: both;
    height: 55px;
    border: 1px solid #e4e4e4;
    border-top: 0;
    padding: 10px 20px 0;
}

.img-card .card-info p:first-child,
.lesson-list .card-info p:first-child {
    margin-bottom: 10px;
}

.img-card .card-info a,
.lesson-list .card-info a {
    font-size: 14px;
    color: #565656;
}


/*column-title*/

.column-title {
    padding-right: 20px;
    margin-bottom: 15px;
}

.column-title .more {
    margin-top: 10px;
}

.column-title .btn-title {
    float: left;
    margin-right: 10px;
    width: 130px;
    height: 36px;
    line-height: 36px;
    background: #677ee1;
    text-align: center;
    font-size: 16px;
    color: #fff;
}

.column-title h1 {
    font-size: 24px;
    font-weight: 700;
    color: #333;
}


/*lesson-list*/

.lesson-list {
    width: 9999px;
}

.lesson-list li {
    width: 204px;
    margin-right: 11px;
    border: 1px solid #e4e4e4;
}

.lesson-list .card-info {
    border: 0
}

.inner-box {
    padding: 13px;
}


/*floor color*/


/*orange*/

.floor-orange .floor-left-nav {
    background: #fad159;
}

.floor-orange .floor-left-nav a {
    background: #fcaf0e;
}

.floor-orange .right .tab_head li.tab_selected {
    color: #fff;
    background: #ffb956;
}


/*one-third-list*/

.one-third-list {
    margin-right: -30px;
}

.one-third-list li {
    float: left;
    width: 280px;
    ;
    margin-right: 15px;
}

.one-third-list li>a {
    width: 170px;
}

.one-third-list li>span {
    float: right;
}


/**/


/*blue*/

.floor-blue .floor-left-nav {
    background: #5e8dfe;
}

.floor-blue .floor-left-nav a {
    background: #61a6ff;
}

.floor-blue .right .tab_head li.tab_selected {
    color: #fff;
    background: #5b73fe;
}


/*red*/

.floor-red .floor-left-nav {
    background: #ff4250;
}

.floor-red .floor-left-nav a {
    background: #e3232d;
}

.floor-red .right .tab_head li.tab_selected {
    color: #fff;
    background: #ff3242;
}


/*purple*/

.floor-purple.floor-box,
.floor-purple.floor-box .left,
.floor-purple.floor-box .right {
    height: 648px;
}

.floor-purple .floor-sub-title {
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
}

.floor-purple .floor-left-nav {
    background: #7475e0;
}

.floor-purple .floor-left-nav a {
    display: block;
    width: 129px;
    padding: 0 18px;
    text-align: left;
    margin-bottom: 5px;
    background: #5b63cc;
}

.floor-purple .right .tab_head li.tab_selected {
    color: #fff;
    background: #9162de;
}


/*index-botoom*/

.index-botoom {
    margin-top: 50px;
    padding: 10px 0;
    background: #eaeaea;
}

.index-botoom .title {
    font-size: 14px;
    color: #333;
    margin: 20px 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d2d2d2;
}

.coo-brand li {
    float: left;
    margin: 0 15px 20px;
    width: 80px;
    height: 50px;
}

.coo-brand li img {
    width: 80px;
    height: 50px;
}

.friendly-link a {
    margin-right: 5px;
    line-height: 28px;
}


/*footer*/

.footer {
    padding: 20px 0;
    color: #fff;
    background: #323232;
}

.footer a {
    margin-right: 15px;
    color: #fff;
}

.footer-nav {
    padding-top: 10px;
    margin-bottom: 15px;
}

.wechat-box {
    width: 90px;
}

.wechat-box span {
    float: left;
    width: 18px;
}


/*导航*/

.crumbs {
    margin: 20px 0 15px;
    color: #575757;
    font-size: 14px;
}

.crumbs a {
    color: #767676;
}

.arrowL {
    font-family: "宋体";
    font-size: 16px;
    margin: 0 10px;
}


/*分栏盒子*/

.grid-box .boxL {
    width: 820px;
    margin-right: 20px;
}

.grid-box .boxR {
    width: 260px;
}

.boxR-inner {
    padding: 0 20px 50px;
}


/*学校列表*/

.school-item-box {
    padding: 10px 25px;
}

.school-item-box li {
    padding: 25px 0;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

.school-item-box li:last-child {
    border: 0;
}

.school-item-box a>img {
    float: left;
    width: 180px;
    height: 120px;
}

.detail-btn {
    width: 116px;
    height: 34px;
    line-height: 34px;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    float: right;
}

.school-info {
    margin-left: 195px;
    margin-right: 160px;
    color: #666;
    font-size: 14px;
}

.school-info p {
    padding-top: 5px;
    padding-bottom: 5px;
}

.school-info .top_item {
    padding: 5px 15px;
    background: #3da9da;
    color: #fff;
}

.school-info .top_item a {
    color: #fff;
}

.school-info .normal-item a {
    font-size: 16px;
    color: #3da9da;
}

.school-info .normal-item span {
    color: #ef8800;
}


/*招聘列表*/

.job-item-box {
    padding: 10px 25px;
}

.job-item-box li {
    padding: 25px 0;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

.job-item-box li:last-child {
    border: 0;
}

.job-info {
    width: 375px;
    float: left;
    color: #666;
    font-size: 14px;
    line-height: 1.5;
}

.job-date {
    font-size: 14px;
    margin-left: 475px;
    margin-right: 170px;
}

.job-date P {
    margin-bottom: 10px;
}

.job-data-num {
    padding-left: 24px;
}

.job-info p {
    padding-top: 5px;
    padding-bottom: 5px;
}

.job-info .top_item {
    padding: 5px 15px;
    background: #3da9da;
    color: #fff;
}

.job-info .top_item a {
    color: #fff;
}

.job-info .normal-item a {
    font-size: 16px;
    color: #3da9da;
}

.job-info .normal-item span {
    color: #ef8800;
}


/*分栏标题*/

.col-title {
    padding: 20px;
    font-size: 14px;
    color: #6a6a6a;
}

.col-title a {
    color: #989898;
    font-size: 12px;
}

.boxR-inner .news-list a {
    width: 180px;
    margin-right: 0;
    color: #565656;
}

.boxR-inner .news-list li.news-line {
    height: auto;
    line-height: normal;
    margin: 10px 0;
    border-bottom: 1px dashed #ddd;
}


/*detail*/

.detail-topbox {
    padding: 30px;
}

.detail-topbox-L {
    width: 750px;
}

.detail-topbox-R {
    margin-top: -10px;
    width: 265px;
    height: 343px;
    padding-top: 30px;
    text-align: center;
    font-size: 14px;
    color: #6b6b6b;
    background: #f6f6f6;
}

.detail-topbox-R p {
    margin-bottom: 25px;
}

.detail-topbox-R .user-name {
    color: #404040;
}

.detail-title {
    font-size: 20px;
    color: #3da9da;
}

.detail-topbox-L img {
    float: left;
    width: 350px;
    height: 266px;
}

.property {
    margin-left: 390px;
    font-size: 14px;
    color: #6b6b6b;
}

.view_num {
    font-size: 12px;
    color: #868686;
    margin-top: 10px;
}

.property .view_num {
    font-size: 12px;
}

.property-ul {
    margin-top: 25px;
}

.property-ul li {
    padding: 8px 0;
}

.obj-details .tab_head li {
    padding: 0 44px;
    height: 42px;
    text-align: center;
    line-height: 44px;
    color: #5b5b5b;
    cursor: pointer;
}

.obj-details .tab_head li.tab_selected {
    color: #fff;
    background: #3da9da;
}

.obj-details .tab_content>div {
    padding: 30px;
}


/*textbox*/

.text-box,
.text-box * {
    font-size: 14px;
    line-height: 2;
    color: #666;
}

.demo_table td,
.demo_table th {
    padding: 10px 0;
    border: 1px solid #ddd;
}

.demo_table th {
    background: #f9f9f9;
}

.demo_table td {
    padding-left: 15px;
}


/**/

#slide-bigImg {
    width: 760px;
    height: 480px;
    margin-bottom: 17px;
    position: relative;
    overflow: hidden;
}

#slide-bigImg ul {
    position: absolute;
    left: 0;
    top: 0;
}

#slide-bigImg ul li {
    float: left;
    width: 760px;
    height: 480px;
}

#slide-pnum {
    width: 100%;
    height: 80px;
    position: relative;
}

#slide-pnum .slidebtn {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 80px;
    background-image: url("images/slider-btn.jpg");
    background-repeat: no-repeat;
}

#slide-pnum #next_btn {
    left: auto;
    right: 0;
    background-position: -25px 0;
}

#slide-pnum ul {
    height: 80px;
    overflow: hidden;
    width: 430px;
    margin: 0 auto;
    position: relative;
}

#slide-pnum ul li {
    float: left;
    width: 126px;
    cursor: pointer;
    height: 80px;
    margin: 0 5px;
}

#slide-pnum ul li img {
    width: 120px;
    height: 74px;
    border: 3px solid #fff;
}

#slide-pnum ul li.on img {
    border-color: #3da9da;
}

.news-title {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.small-title {
    font-size: 12px;
    color: #8e8e8e;
}

.h-line {
    margin: 20px 0;
    border-bottom: 1px solid #ddd;
}

.news-page {
    margin-top: 30px;
}

.news-page p {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}


/*contactbox*/

.contactbox {
    border: 1px solid #ddd;
    box-shadow: 1px 1px 1px #ddd;
}

.sidebar {}

.sidebar ul {
    padding-top: 50px;
}

.sidebar ul li {
    padding: 5px 0 5px 30px;
}

.sidebar ul li a {
    margin: 0 10px;
}

.sidebar ul li .icon-arrow-right {
    visibility: hidden;
    vertical-align: -2px
}

.sidebar ul li.active,
.sidebar ul li.active a,
.sidebar ul li.active .icon-arrow-right {
    visibility: visible;
    color: #3da9da;
}

.contact-content {
    padding: 40px;
}
